body {
    background-color: black;
    background-image: url("background.jpg");
    background-repeat: repeat-y;
    background-position-x: calc(100vw - 116px - min(300px, 20vw));

    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-left: 2vw;
    padding-right: calc(min(300px, 18vw));
    padding-bottom: 1vw;
    line-height: 1.6;
}

h1 {
    margin-bottom: 1em;
}

a {
    color: #1E90FF;
}

a:hover {
    color: #00BFFF;
}

a:visited {
    color: #9370DB;
}

a:visited:hover {
    color: #BA55D3;
}

section.refs {
    color: #A0A0A0;
}

section.licensing {
    margin-top: 1vw;
    color: #A0A0A0;
}

table {
    border: none;
}

td {
    vertical-align: top;
}

footer {
    margin-top: 3vw;
    border-top-width: 0.1vw;
    border-top-style: solid;
    border-color: #A0A0A0;
}

